@model Restaurant.MVC.ViewModels.MenuItemVm
@using Restaurant.Domain

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>






<div class="container">
    <div class="row">
        <div class="col-8 border">
            <form method="post" enctype="multipart/form-data">
                <div class="border row">
                    <div class="container-fluid col-8">

                        <input hidden asp-for="MenuItem.Id" />
                        @*<input hidden asp-for="MenuItem.CategoryId" />
                        <input hidden asp-for="MenuItem.SubCategoryId" />*@
                        <input hidden asp-for="MenuItem.Image" />
                        @*<input hidden asp-for="CategoryCollection" name="CategoryCollection" />*@

                        <fieldset disabled>
                    
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="MenuItem.Name" class="form-control"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="MenuItem.Name" class="form-control" />
                                  
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="MenuItem.Description" class="form-control"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="MenuItem.Description" class="form-control" />
                                   
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="MenuItem.Price" class="form-control"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="MenuItem.Price" class="form-control" />
                                    
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <div class="col-4">
                                        <label asp-for="MenuItem.Image" class="form-control"></label>
                                    </div>
                                    <div class="col-8">
                                        <input type="file" name="files" multiple class="form-control" />
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="CategoryId" class="form-control"></label>
                                </div>
                                <div class="col-8">
                                    @*<input asp-for="MenuItem.Category.Name" class="form-control" name="CategoryId" />*@

                                    <select asp-for="MenuItem.CategoryId"
                                            asp-items="@Model.CategoryCollection"
                                            class="form-control" id="CategoryId" name="CategoryId"></select>
                               
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="SubCategoryId" class="form-control"></label>
                                </div>
                                <div class="col-8">
                                    @*<input asp-for="MenuItem.SubCategory.Name" class="form-control" name="SubCategoryId" />*@

                                    <select asp-for="MenuItem.SubCategoryId"
                                                asp-items="@Model.SubCategoryCollection"
                                                class="form-control" id="SubCategoryId" name="SubCategoryId">

                                        </select>

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="container-fluid col-4">
                                    <label asp-for="MenuItem.SpicyType" class="form-control"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="MenuItem.SpicyType" class="form-control" />
                                    @*<select asp-for="MenuItem.SpicyType"
                                        asp-items="@Html.GetEnumSelectList<Spicy>()"
                                        class="form-control"></select>*@
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-1">

                    </div>
                    <div class="col-3">
                        <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                    </div>
                    <div class="form-group ml-2">
                        <a asp-action="Index" class="btn btn-success ml-2">Back</a>
                        <input type="submit" value="Delete" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

