


@model List<Restaurant.Domain.Order>

@{
    ViewData["Title"] = "OrderHistory";
}

<br />

<h2>Order OrderHistory</h2>

<br />

@if (Model != null)
{
    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">Add Another Order</a>

        <div class="col-12">
            @for (int i = 0; i < Model.Count; i++)
            {
                @Html.Partial("_OrderDetailsPartialView", Model[i])
            }
        </div>
    </div>


}
else
{
    <div class="text-danger">
        Error. Please try again
    </div>
}

